# Python cache files
 .pyc
 .pyo
__pycache__/

# Virtual environment
 venv/
 env/

# Database files
 .db
 .sqlite3

# Environment variables
 .env
 .env.local

# logs
 logs/
  .log

# Os files
 .DS_Store
 Thumbs.db
